<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}
   <div class = 'form-div'>
    <h1> Enter The Details here :
    <form action="{{url_for('predict_datapoint')}}" method="POST">  
      
        <div class="form-group"> 
            <label for="holiday">holiday</label>
            <select id="holiday" name="holiday">
              <option value="no holiday">no holiday</option>
              <option value="yes holiday">yes holiday</option>
            </select>    
        </div>
  

        <div class="form-group">
            <label for="temp">temp</label>
            <input type="text" id="temp" name="temp" placeholder="Enter temp value">
        </div>  

        <div class="form-group">
            <label for="cloud_all">cloud_all</label>
            <input type="text" id="cloud_all" name="cloud_all" placeholder="Enter cloud_all value">
        </div>  



  
      <div class="form-group">  

          <label for="weather_main">weather_main</label> 

          <select id="weather_main" name="weather_main">
            <option value="Clouds">Clouds</option>
            <option value="Clear">Clear</option>
            <option value="Rain">Rain</option>
            <option value="Drizzle">Drizzle</option>
            <option value="Mist">Mist</option>
            <option value="Haze">Haze</option>
            <option value="Fog">Fog</option>
            <option value="Thunderstorm">Thunderstorm</option>
            <option value="Snow">Snow</option>
            <option value="Squall">Squall</option>
            <option value="Smoke">Smoke</option>
          </select>

      </div>
      
      <div class="form-group">

          <label for="weekday">weekday</label>

          <select id="weekday" name="weekday">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
          
      </div>
    
      <div class="form-group">
          <label for="hour">hour</label>
          
          <select id="hour" name="hour">
            <option value="Morning">Morning</option>
            <option value="Afternoon">Afternoon</option>
            <option value="Evening">Evening</option>
            <option value="Night">Night</option>
            <option value="Late Night">Late Night</option>
            <option value="Early Morning">Early Morning</option>
          </select>

      </div>


      <div class="form-group">

        <label for="month">month</label>

        <select id="month" name="month">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
        
    </div>
    
      
  
  <div style="clear:both;"></div>
  
    <input type="submit" value="Submit" class = "submit-btn">
  
  </form>
</div>
  
{% endblock %}
</body>
</html>